@import "tailwindcss";
@import "tw-animate-css";

:root{
--rounded: 12px;
}


body { --tw-ring-offset-width: 0 }


/* small utility for rounded only design */
.rounded-xl { border-radius: var(--rounded) }


/* line clamp for descriptions */
.line-clamp-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }